<!DOCTYPE html>
<html lang="en">
<head>
  <title>도서관 내부</title>
<body>
  <h1>도서관 내부</h1>
  <div id="photosphere"></div>
<link rel="stylesheet" href="https://photo-sphere-viewer.js.org/node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.min.css">
<script src="https://photo-sphere-viewer.js.org/node_modules/three/build/three.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/d.js/lib/D.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/dot/doT.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/uevent/uevent.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/three/examples/js/renderers/CanvasRenderer.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/three/examples/js/renderers/Projector.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.min.js"></script>


<script>
  var PSV = new PhotoSphereViewer({
    panorama: "https://i.imgur.com/LGkvCIr.jpg",
    container: 'photosphere',
    caption: '대구과학고등학교 본관동 3층 도서관',
    loading_img: "https://photo-sphere-viewer.js.org/assets/photosphere-logo.gif",
    navbar: 'autorotate zoom download caption fullscreen',
    default_fov: 70,
    default_lat: 0.3,
    mousewheel: false,
    size: {
      height: 800
    }
  });
</script>
<form action = "/location/도서관/" method="post">
  {% csrf_token %}
  <button name="choice" >바깥쪽으로 나가기</button>
</form>


  

</body>
</html>
