<!DOCTYPE html>
<html lang="en">
<head>
<body>
  <div id="photosphere"></div>
<link rel="stylesheet" href="https://photo-sphere-viewer.js.org/node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.min.css">
<script src="https://photo-sphere-viewer.js.org/node_modules/three/build/three.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/d.js/lib/D.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/dot/doT.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/uevent/uevent.min.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/three/examples/js/renderers/CanvasRenderer.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/three/examples/js/renderers/Projector.js"></script>
<script src="https://photo-sphere-viewer.js.org/node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.min.js"></script>


<script>
  var PSV = new PhotoSphereViewer({
    panorama: "https://i.imgur.com/86CV4MF.jpg",
    container: 'photosphere',
    caption: 'Bryce Canyon National Park <b>&copy; Mark Doliner</b>',
    loading_img: "https://photo-sphere-viewer.js.org/assets/photosphere-logo.gif",
    navbar: 'autorotate zoom download caption fullscreen',
    default_fov: 70,
    default_lat: 0.3,
    mousewheel: false,
    size: {
      height: 800
    }
  });
</script>

  

</body>
</html>
